* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
}

/* header */
#intro {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-color: #f5ba13;
  height: 20rem;
  margin: 5rem -16px 0 -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.display-1 {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  outline: 3px solid black;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ABOUT ME */
.about-me {
  padding: 3rem;
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
}

.about-me-title {
  font-family: "Times New Roman";
  font-weight: 400;
  color: rgb(33, 37, 41);
  font-size: 40px;
}

.about-me-description {
  font-size: 20px;
}

.menu-title {
  font-family: "Great Vibes";
  font-size: 50px;
  font-weight: 400;
  color: rgb(33, 37, 41);
  text-align: center;
}

.contact {
  padding: 3rem;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  width: 50%;
  border: 5px solid black;
}

.contact-title {
  font-family: "Times New Roman";
  font-weight: 400;
  color: rgb(33, 37, 41);
  font-size: 40px;
}

.contact-description {
  font-size: 17px;
}

.echo-logo {
  height: 25%;
  width: 25%;
}

/* MENU SECTION */
.feature-items {
  background-color: #212529;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.feature-item-wrapper {
  background: #efefef;
  flex-direction: row;
  box-sizing: border-box;
  width: 75%;
  padding-left: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem auto;
}

.img-wrapper {
  box-sizing: border-box;
  width: 50%;
  padding: 2rem;
}

.image_comp {
  width: 30%;
  height: 30%;

  display: inline-block;
  border: 5px solid #151515;
  font-size: 2.5rem;
}

.qr {
  margin: auto 6rem;
  width: 10rem;
  height: 10rem;
}

.text {
  box-sizing: border-box;
  width: 30%;
  padding-top: 24px;
  padding-left: 12px;
  padding-bottom: 24px;
  flex: 1 1 auto;
}

.food_name {
  margin: 5px;
}

.food_description {
  width: 50%;
  margin: auto;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.footer {
  text-align: center;
  background-color: #212529;
  bottom: 0;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 2.5rem;
  color: #ccc;
}

/* logo */
.logo {
  width: 75px;
  height: 75px;
}

/* navbar syles */
.nav-item {
  width: 100%;
  margin: 0 1rem;
  font-size: 1rem;
}
